[user]
	name = Dasu Pradyumna
	email = dasupradyumna@gmail.com
	signingKey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO003hXdf9skduqtJ018Yq/fvMJ7Mxb+Gzyy0ko89NCd dasupradyumna@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim --cmd \"lua vim.g.user = { neovim_git_mode = true }\"
[commit]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/git_allowed_signers
[help]
	autocorrect = prompt
[alias]
	root-dir = rev-parse --show-toplevel
