[user]
	name = Dasu Pradyumna
	signingKey = ~/.ssh/git_sign.pub
[init]
	defaultBranch = main
[core]
	editor = nvim --cmd \"lua vim.g.user = { neovim_git_mode = true }\"
[commit]
	gpgSign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/git_allowed_signers
[help]
	autocorrect = prompt
[alias]
	root-dir = rev-parse --show-toplevel
