# Refer to `man 5 ssh_config` for documentation about SSH configuration

Host 1blr3-dev-sn1
    HostName 10.72.99.83
    User mtr
    CertificateFile ~/.ssh/1blr3-dev-mtr-cert.pub

Host 1blr3-dev-sn2
    HostName 10.72.99.71
    User mtr
    CertificateFile ~/.ssh/1blr3-dev-mtr-cert.pub

Host 1blr3-dev-sn6
    HostName 10.72.99.46
    User mtr
    CertificateFile ~/.ssh/1blr3-dev-mtr-cert.pub

Host 1sjc5-stage-sn1
    HostName 172.20.1.13
    User dvp
    CertificateFile ~/.ssh/1sjc5-dev-mtr-cert.pub

Host 1sjc5-dev-sn2
    HostName 172.20.1.34
    User mtr
    CertificateFile ~/.ssh/1sjc5-dev-mtr-cert.pub

Host 1sjc5-dev-sn5
    HostName 172.20.1.53
    User mtr
    CertificateFile ~/.ssh/1sjc5-dev-mtr-cert.pub

Host 1sjc5-dev-sn5-sudo
    HostName 172.20.1.53
    User vimaan
